<?xml version="1.0" encoding="UTF-8"?>
<launch>


  <arg name="robot" default=""/>
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0.1"/>
    
  <group ns="$(arg robot)">  
    <param name="tf_prefix" value="$(arg robot)" />
  <param name="robot_description" 
    command="$(find xacro)/xacro --inorder '$(find test_robot_description)/urdf/test_robot.urdf.xacro'"/>

  <!--env name="PYTHONPATH" value="$PYTHONPATH:$ROS_ROOT/core/roslib/src:/home/ps/teach_ws/src/custom_global_planner/src/custom_global_planner"/-->
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
    args="-param robot_description -urdf -x $(arg x) -y $(arg y)  -z $(arg z)  -model $(arg robot)" />

  <rosparam file="$(find test_robot_config)/config/control.yaml" command="load" />
    
  <node name="controller_spawner" pkg="controller_manager" type="spawner" 
    respawn="false" output="screen"
    args="joint_state_controller mobile_base_controller" />
      

    <node pkg="tf" type="static_transform_publisher" name="static_pose_broadcaster"
    args="0 0 0 0 0 0 1 map $(arg robot)/odom 100" />

  
  
  
  <node pkg="move_base" type="move_base" name="move_base"
    output="screen">
    <rosparam file="$(find test_robot_config)/config/navigation/costmap_common_params.yaml" command="load" ns="global_costmap" subst_value="true"/>
    <rosparam file="$(find test_robot_config)/config/navigation/costmap_common_params.yaml" command="load" ns="local_costmap" subst_value="true"/>
    <rosparam file="$(find test_robot_config)/config/navigation/local_costmap_params.yaml" command="load" subst_value="true"/>
    <rosparam file="$(find test_robot_config)/config/navigation/global_costmap_params.yaml" command="load" subst_value="true"/> 
    <rosparam file="$(find test_robot_config)/config/navigation/base_local_planner_params.yaml" command="load" subst_value="true"/>

    <param name="controller_frequency" type="double" value="10." />
    
    <!--remap from="odom" to="odom_ros"/-->
    <remap from="map" to="/map"/>

    <remap from="cmd_vel" to="mobile_base_controller/cmd_vel"/>

    <param name="base_local_planner" type="str" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="base_global_planner" type="str" value="global_planner/GlobalPlanner" />
    <!--param name="base_local_planner" type="str" value="base_local_planner/TrajectoryPlannerROS" /-->
    <!--param name="base_local_planner" type="str" value="dwa_local_planner/DWAPlannerROS" /-->
  </node>
  
  <node name="odom_gazebo_republisher" pkg="odom_gazebo_republisher" type="odom_republisher.py">
    <remap from="odom" to="gazebo_ground_truth_odom" />
    <param name="odom_frame" value="$(arg robot)/odom" />
    <param name="base_frame" value="$(arg robot)/base_link" />
  </node>
      
  </group>    
      
</launch>
