local_costmap:
  plugins:
    - {name: static_layer,  type: "costmap_2d::StaticLayer"}
    - {name: obstacle_layer, type: "costmap_2d::ObstacleLayer"}
    - {name: inflation_layer,  type: "costmap_2d::InflationLayer"}

  global_frame: map
  robot_base_frame: $(arg robot)/base_link # DIFF base_link
  #original $(arg robot)/base_link

  update_frequency: 5.0
  publish_frequency: 2.0

  rolling_window: true
  width: 16.0
  height: 16.0

  # should always be the same as the global costmap resolution, 
  # which is always the same as static map resolution
  resolution: 0.5

  #origin_x: 0.0
  #origin_y: 0.0
